/* --- GLOBAL STYLES --- */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  background-color: rgb(169, 157, 180);
}

body {
  font-family: "Work Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(66, 65, 65);
}

a, .btn {
  transition: all 300ms ease;
}

/* --- NAVIGATION BAR --- */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.logo {
  font-size: 2rem;
  cursor: default;
}

/* --- MOBILE MENU (HAMBURGER) --- */
#mobile-nav {
  display: none;
}

.mobile-menu-container {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3s ease-in-out;
}

.mobile-menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.mobile-menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
}

.mobile-menu-links li {
  list-style: none;
}

.mobile-menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}
.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}
.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

/* --- GENERAL SECTIONS --- */
section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.main-heading {
  font-size: 3rem;
  text-align: center;
}

.small-icon {
  cursor: pointer;
  height: 2rem;
}

/* --- BUTTONS --- */
.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 15px;
}

.btn {
  font-weight: 600;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  cursor: pointer;
}


.button-solid:hover {
  background: rgb(0, 0, 0);
  color: white;
}


.button-outline {
  background: none;
}

.button-outline:hover {
  background: rgb(53, 53, 53);
  color: white;
  border: rgb(255, 255, 255) 0.1rem solid;
}

/* --- PROFILE SECTION --- */
#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 60vh;
}

.profile-picture-box {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.profile-text-box {
  align-self: center;
  text-align: center;
}

.profile-text-box p {
  font-weight: 600;
}

.greeting-text {
  text-align: center;
}

.subtitle-text {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

/* --- ABOUT ME SECTION --- */
#about {
  position: relative;
  height: fit-content;
  margin-bottom: 4rem;
}

.about-text-box {
  margin-top: 15px;
  margin-bottom: 2rem;
  text-align: center;
}

.about-content-wrapper {
  display: flex;
  gap: 4rem;
  margin-top: 15px;
  align-items: flex-start;
}

/* Experience List */
.experience-box {
  padding: 1.5rem;
  flex: 1 1 500px;
  background: rgb(169, 157, 180);
  border-radius: 2rem;
  border: rgb(0, 0, 0) 0.1rem solid;
}

.box-title {
  text-align: center;
  margin-bottom: 10px;
}

.experience-list {
  padding-left: 1.2rem;
  color: rgb(64, 63, 63);
}

.experience-list li {
  margin-bottom: 12px;
}

/* Skills/Ed Boxes */
.details-wrapper {
  display: flex;
  flex: 2 1 60px;
  flex-wrap: wrap;
  gap: 2rem;
  min-width: 200px;
}

.info-card {
  flex: 1 1 200px;
  padding: 1.5rem;
  background: rgb(169, 157, 180);
  border-radius: 2rem;
  border: 0.1rem solid rgb(0, 0, 0);
  text-align: center;
}

/* --- PROJECTS SECTION --- */
.projects-wrapper {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  
  .project-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    flex: 1;
    padding: 1.5rem;
    background: rgb(169, 157, 180);
    border-radius: 2rem;
    border: 0.1rem solid rgb(16, 15, 15);
    text-align: center;
  }
  
  .project-image-box {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  
  .project-img {
    border-radius: 2rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .project-title {
    margin: 1rem;
    color: black;
  }
  
  .project-card .button-container {
    margin-top: 20px; 
  }

/* --- CONTACT SECTION --- */
#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-card-wrapper {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(27, 22, 22) 0.1rem solid;
  background: rgb(169, 157, 180);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-item p {
  font-size: larger;
}

.email-icon {
  height: 2.5rem;
}

/* --- FOOTER --- */
footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}